html body {
    background-image: url("chrome-extension://__MSG_@@extension_id__/resources/cutekittens.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: 1000px;
   }